@import 'tailwindcss';

:root {
  font-family: var(--font-funnel), sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-funnel), sans-serif;
}

span {
  color: #111827;
}

html {
  scroll-behavior: smooth;
}
